<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Keep Me Posted</title>
  <link rel="stylesheet" href="../src/assets/css/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
</head>

<body>
  <noscript>
    <strong>The application doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div class="page-bg">
    <article id="page-header">
      <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container">
          <a class="navbar-brand" href="#">KeepMePosted</a>
          <div>
            <!-- <span class="navbar-text">
                <a class="login-button" href="#">Log In</a>
              </span>-->
            <a class="btn btn-light signup-action-button" role="button" href="#" onclick="onSignIn">Sign In</a>
          </div>
        </div>
      </nav>
    </article>
    <article id="page-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-12">
            <div id="app">
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <!-- built files will be auto injected -->
</body>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</html>