<template>
<div>
<!-- <div class="tab-pane fade" 
      id="list-home" role="tabpanel"
      aria-labelledby="list-home-list"> -->
    <channel-item-detail
      v-for="channelItem in channelItems"
      v-bind:key="channelItem.id"
      v-bind:itemDetail="channelItem"
    />
  </div>
</template>

<script>
import channelItemDetails from "./ChannelItemDetail";
export default {
  name: "ChannelItemsComponents",
  components: {
    "channel-item-detail": channelItemDetails
  },
  props: ["channelItems"]
};
</script>

<style scoped>
</style>



