$page-font: 'Source Sans Pro', sans-serif;
$page-background-color: linear-gradient(135deg, #172a74, #21a9af);

%action-button-transparent-pill{
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
}

.rounded-corner{
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    border-width: thin;
}

.page-bg, html {
    background: $page-background-color;
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: $page-font;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.page-bg {
    .navbar{
        background: transparent;
        padding-top: .75em;
        padding-bottom: #fff;
        border-radius: 0;
        box-shadow: none;
        border: none;
        .navbar-brand {
            font-weight: bold;
            font-family: 'Caveat Brush', cursive;
            font-size: 50px;
            &:hover{
                color: #f0f0f0;
            }
        }
        .login-button{
            color: #d9d9d9;
            margin-right: .5rem;
            text-decoration: none;
            &:hover{
                color: #fff;
            }
        }
        
        .signup-action-button{
            @extend %action-button-transparent-pill;
            &:not(.disabled):active{
                @extend %action-button-transparent-pill;
            }
        }
    }
}

.post-content{
    color:#495057 ;
}

#page-body{
    margin-top:60px;
    color: #fff;
    h1{
        font-size: 40px;
        font-weight: 300; 
        line-height: 1.4;
    }
}